.name {
  color: red;
}

.user-photo {
  height: 90px;
  width: 85px;
}
.logo {
  height: 100px;
  width: 100px;
}
.main-box {
  width: 350px;
}
.user-detail-p {
  border-bottom: 1px dotted;
  width: 70%;
  padding-left: 5px;
  padding-right: 5px;
}

.user-detail-label {
  width: 28%;
  font-weight: 500;
  padding-left: 8px;
  padding-right: 5px;
}
#identity-card {
  visibility: hidden;
  position: absolute;
  left: -1000px;
  top: -1000px;
}
@media print {
  body {
    visibility: hidden;
    overflow: hidden;
  }
  #identity-card {
    visibility: visible;
    position: absolute;
    left: 0;
    top: 0;
    border: solid 3px lightcoral;
  }
  @page {
    margin-left: 0.1in;
    margin-right: 0.1in;
    margin-top: 0.1in;
    margin-bottom: 0;
  }
}
