/*  */
#print-id-card {
  display: none;
}
#print-appointment-letter {
  display: none;
}
.name {
  color: red;
}
.user-photo {
  height: 24mm;
  width: 22mm;
}
.logo {
  height: 23mm;
  width: 23mm;
}
.main-box {
  width: 50%;
  height: 100%;
  border: solid 3px lightcoral;
}
.user-detail-p {
  border-bottom: 1px dotted;
  width: 70%;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 11.33pt; /* 4mm */
}

.user-detail-label {
  width: 28%;
  font-weight: 500;
  padding-left: 8px;
  padding-right: 5px;
  font-size: 11.33pt; /* 4mm */
}
.adhyaksh-photo {
  width: 35mm;
  height: 35mm;
}
.detail-row {
  margin-top: 6px;
}
.id-card-back-label-name {
  font-size: 11pt;
  display: block;
  color: darkred;
  margin-top: -2px;
}
.text-firebrick {
  color: firebrick !important;
}
#print-media {
  width: 210mm; /* A4 Paper Width  */
  height: 145mm; /* Half of A4 Paper Height*/
}

@media print {
  @page {
    margin-left: 0.1in;
    margin-right: 0.1in;
    margin-top: 0.1in;
    margin-bottom: 0;
  }
}

.user-photo-al {
  height: 30mm;
  width: 30mm;
}
.logo-al {
  height: 30mm;
  width: 30mm;
}
.main-box-al {
  width: 100%;
  border: solid 3px lightcoral;
  padding: 5mm;
}

.detail-row {
  margin-top: 6px;
}
.detail-span {
  border-bottom: 1px dotted gray;
  color: darkgreen;
  font-weight: 600;
}
.qr-photo {
  height: 30mm;
  width: 30mm;
}
.adhyaksh-sign-box-al {
  padding-top: 25mm;
  width: 60mm;
}

#print-al-media {
  width: 268mm;
  height: 185mm;
  margin-top: 55.5mm;
  margin-left: -29.5mm;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
