.input-container {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.input-container.show {
    max-height: 120px;
    /* Adjust according to your needs */
}

.uploaded-image-box {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.uploaded-image-box.show {
    height: 200px;
    width: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    max-height: 200px;
    background-position: center;
}

.btn-work {
    /* transition: 0.3s ease-in-out; */
}

.btn-work:hover {
    background-color: rgb(0, 115, 255) !important;
    color: aliceblue !important;
}